<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>item details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <header>
      <h1>item: {{ item.name }}</h1>
    </header>
    <main>
      <p><strong>id of item:</strong> {{ item.id }}</p>
      <nav>
        <a href="{{ url_for('main.index') }}">← back to item list</a>
      </nav>
      <hr />

      <h2>edit name</h2>
      <form action="{{ url_for('main.update_item_route') }}" method="post">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="name" value="{{ item.name }}" placeholder="new name" required />
        <input type="hidden" name="id" value="{{ item.id }}" />
        <button type="submit">update</button>
      </form>

    </main>
    <footer>
      <p>© All rights reserved</p>
    </footer>
  </body>
</html>
